---
title: Propiedades en Venta
layout: propiedades
---

<div class="clearfix"></div>
<!-- BREADCRUMB -->
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__breadcrumb-v1">
                    <ol class="breadcrumb mb-0 bg-light">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> </a></li>
                        <li class="breadcrumb-item"> <a href="#">Propiedades</a></li>
                        <li class="breadcrumb-item active"> <span class="text-capitalize">{{page.title}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- LISTING LIST -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs__custom-v2 ">
                            <!-- FILTER VERTICAL -->
                            <ul class="nav nav-pills myTab" role="tablist">
                                <li class="list-inline-item mr-auto">
                                    <span class="title-text">Venta</span>
                                    <div class="btn-group">
                                        <!--a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Nuestras Casas Vacacionales
                                        </a-->
                                        <!--div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0)">Low to High Price</a>
                                            <a class="dropdown-item" href="javascript:void(0)">High to Low Price
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">Sell Properties</a>

                                            <a class="dropdown-item" href="javascript:void(0)">Rent Properties</a>
                                        </div-->
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#pills-tab-one" role="tab"
                                        aria-controls="pills-tab-one" aria-selected="true">
                                        <span class="fa fa-th-list"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#pills-tab-two" role="tab"
                                        aria-controls="pills-tab-two" aria-selected="false">
                                        <span class="fa fa-th-large"></span></a>
                                </li>
                            </ul>



                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="pills-tab-one" role="tabpanel"
                                    aria-labelledby="pills-tab-one">
                                    <div class="row">
                                        {% for casa in site.casasenventa %}
                                        <div class="col-lg-12">
                                            <div class="card__image card__box-v1">
                                                <div class="row no-gutters">
                                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                                        <div class="card__image__header h-250">
                                                            <a href="{{casa.url}}">
                                                                <div class="ribbon text-capitalize">{{casa.operation}}
                                                                </div>
                                                                <img src="{{casa.image}}" alt="{{casa.title}}"
                                                                    class="img-fluid w100 img-transition">
                                                                <div class="info">{{casa.operation_sale_rent}}</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                        <div class="card__image__body">

                                                            <span
                                                                class="badge badge-primary text-capitalize mb-2">{{casa.type}}</span>
                                                            <h6>
                                                                <a href="{{casa.url}}">{{casa.title}}</a>
                                                            </h6>
                                                            <div class="card__image__body-desc">
                                                                <p class="text-capitalize">
                                                                    <i class="fa fa-map-marker"></i>
                                                                    {{casa.location}}
                                                                </p>
                                                            </div>

                                                            <ul class="list-inline card__content">
                                                                <li class="list-inline-item">

                                                                    <span>
                                                                        baños <br>
                                                                        <i class="fa fa-bath"></i> {{casa.baths}}
                                                                    </span>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <span>
                                                                        beds <br>
                                                                        <i class="fa fa-bed"></i> 3
                                                                    </span>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <span>
                                                                        Habitaciones <br>
                                                                        <i class="fa fa-inbox"></i> {{casa.rooms}}
                                                                    </span>
                                                                </li>
                                                                {% if casa.area %}
                                                                <li class="list-inline-item">
                                                                    <span>
                                                                        area <br>
                                                                        <i class="fa fa-map"></i> {{casa.area}} m²
                                                                    </span>
                                                                {% endif %}    
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                        <div class="card__image__footer">
                                                            <figure>
                                                                <img src="/images/pacificsun/200x200.webp"
                                                                    alt="{{site.title}}"
                                                                    class="img-fluid rounded-circle">
                                                            </figure>
                                                            <ul class="list-inline my-auto">
                                                                <li class="list-inline-item name">
                                                                    <a href="{{casa.url}}">
                                                                        {{site.title}}
                                                                    </a>

                                                                </li>


                                                            </ul>
                                                            <ul class="list-inline my-auto ml-auto price">
                                                                <li class="list-inline-item ">

                                                                    <h6>{{casa.price}}</h6>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel"
                                    aria-labelledby="pills-tab-two">
                                    <div class="row" id="propiedades">

                                    </div>
                                    <div class="cleafix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END LISTING LIST -->

{% include calltoaction.html %}

<script>
    const contenedor = document.getElementById('propiedades');
    const url = 'https://pacificsunrealestate.com.mx/api.php';

    function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
        return parent.appendChild(el);
    }

    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();

        // Change this to div.childNodes to support multiple top-level nodes.
        return div.firstChild;
    }

    fetch(url)
        .then((resp) => resp.json())
        .then(function (data) {

            let html = data.content.filter( p => p.operations[0].type == "sale" ).map(
                propiedad =>
                    `<div class="col-md-4 col-lg-4">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-uppercase">Destacada</div>
                                    <img src="${propiedad.title_image_thumb}" alt="" class="img-fluid w100 img-transition">
                                    <div class="info"> ${propiedad.property_type}</div>
                                </div>
                                <div class="card__image-body">
                                    <span class="badge badge-primary text-capitalize mb-2">${propiedad.property_type}</span>
                                    <h6 class="text-capitalize">
                                        <a  href="${'propiedad.html?id=' + propiedad.public_id}" >${propiedad.title}</a>
                                    </h6>
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        ${propiedad.location}
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">
                                            <span>
                                                baños <br>
                                                <i class="fa fa-bath"></i> ${propiedad.bathrooms == null ? '' : propiedad.bathrooms}
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                habitaciones <br>
                                                <i class="fa fa-bed"></i> ${propiedad.bedrooms == null ? '' : propiedad.bedrooms}
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> ${propiedad.lot_size == null ? '' : propiedad.lot_size}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <figure>
                                        <img src="/images/pacificsun/200x200.webp" alt="{{site.title}}" class="img-fluid rounded-circle">
                                    </figure>
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item pt-2">
                                            <a href="#">${propiedad.agent}</a>
                                        </li>
                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <h6>${propiedad.operations[0].formatted_amount} ${propiedad.operations[0].currency}</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        `).join('');
            contenedor.innerHTML = html;


            $(".").length && $(".")
                .owlCarousel(
                    {
                        loop: !0,
                        margin: 30,
                        dots: !0,
                        nav: !1,
                        rtl: !1,
                        autoplayHoverPause: !1,
                        autoplay: !0,
                        singleItem: !0,
                        smartSpeed: 1200,
                        navText: ['<i class="fa fa-arrow-left"></i>', '<i class="fa fa-arrow-right"></i>'],
                        responsive: {
                            0: { items: 1, center: !1 },
                            480: { items: 1, center: !1 },
                            600: { items: 1, center: !1 },
                            768: { items: 2 },
                            992: { items: 2 },
                            1200: { items: 2 },
                            1366: { items: 3 },
                            1400: { items: 3 }
                        }
                    });

        })
        .catch(function (error) {
            console.log(error);
        });
</script>