<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "url": "https://pacificsunrealestate.com.mx",
      "image": [
          "https://pacificsunrealestate.com.mx/images/pacificsun/og-img.webp"
        ],
      "@id": "https://pacificsunrealestate.com.mx",
      "name": "Pacific Sun - Real Estate",
      "sameAs" : [
          "https://www.facebook.com/pacificsunensenada",
          "https://www.instagram.com/pacificsun_realestate",
          "https://www.youtube.com/@pacificsunrealestate",
          "https://twitter.com/CentroRosarito",
          "https://maps.app.goo.gl/1qdfTihGV8LHXkK19",
          "https://g.co/kgs/hxJ3Yu"
          ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Av. Dr Pedro Loyola 193",
        "addressLocality": "Ensenada",
        "addressRegion": "Baja California",
        "postalCode": "22887",
        "addressCountry": "MX"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 31.853317,
        "longitude": -116.609570
      },
      "url": "https://pacificsunrealestate.com.mx/contacto.html",
      "telephone": "+12098431531",
      "priceRange": "$$"
      ,"openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday"
          ],
          "opens": "10:00",
          "closes": "18:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "10:00",
          "closes": "18:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "10:00",
          "closes": "14:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "closed",
          "closes": "closed"
        }
       ]          
    }
</script>