---
nombre: Carlos Bustamante
puesto: Agente Inmobiliario
telefono: +52-646-947-7802
correo: carlos@pacificsunrealestate.com.mx
facebook: https://www.facebook.com/carlos.bustamante.5
linkedin: https://www.linkedin.com/in/daniela-villavicencio-0b0b0b1b0/
youtube: https://www.youtube.com/channel/UCZQ8X7jZ0YbZ6YQ8X6Z6Zjw
instagram: https://www.instagram.com/ccbg_ens/
whatsapp: https://wa.me/15264694778702
foto: /images/pacificsun/carlos-bustamante.webp
layout: default
---
<section class="profile__agents">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row no-gutters">
                    <div class="col-lg-12 cards mt-0">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <a href="#" class="profile__agents-avatar">
                                    <img src="{{ page.foto }}" alt="{{ page.nombre }}" class="img-fluid ">
                                    <div class="total__property-agent">Agente</div>
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-6 my-auto">
                                <div class="profile__agents-info">
                                    <h5 class="text-capitalize">
                                        <a href="#" target="_blank">{{ page.nombre }}</a>
                                    </h5>
                                    <p class="text-capitalize mb-1">{{ page.puesto }}</p>

                                    <ul class="list-unstyled mt-2">
                                        <!--li><a href="#" class="text-capitalize"><span><i class="fa fa-building"></i>
                                                    office :</span> 123 456
                                                789</a>
                                        </li-->
                                        <li><a href="tel:{{ page.telefono }}" class="text-capitalize"><span><i
                                                        class="fa fa-phone"></i>
                                                    mobile :</span> {{ page.telefono }} </a></li>
                                        <!--li><a href="#" class="text-capitalize"><span><i class="fa fa-fax"></i> fax :
                                                </span> 342 655</a></li-->
                                        <li><a href="mailto:info@pacificsunrealestate.com.mx"
                                                class="text-capitalize"><span><i class="fa fa-envelope"></i>
                                                    correo :</span>
                                                {{ page.correo }}</a></li>
                                    </ul>
                                    <p class="mb-0 mt-3">
                                        <a href="{{ page.facebook }}" class="btn btn-social btn-social-o facebook mr-1">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>

                                        <a href="{{ page.linkedin }}" class="btn btn-social btn-social-o linkedin mr-1">
                                            <i class="fa fa-linkedin"></i>
                                        </a>

                                        <a href="{{ page.instagram }}"
                                            class="btn btn-social btn-social-o instagram mr-1">
                                            <i class="fa fa-instagram"></i>
                                        </a>

                                        <a href="{{ page.whatsapp }}" class="btn btn-social btn-social-o whatsapp mr-1">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>

                                        <a href="{{ page.youtube }}" class="btn btn-social btn-social-o youtube mr-1">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LOCATION -->
                <div class="single__detail-features tabs__custom">
                    <h5 class="text-capitalize detail-heading">Conoceme</h5>
                    <!-- FILTER VERTICAL -->
                    <ul class="nav nav-pills myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active pills-tab-one" data-toggle="pill" href="#pills-tab-one" role="tab"
                                aria-controls="pills-tab-one" aria-selected="true">
                                Biografia
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pills-tab-two" data-toggle="pill" href="#pills-tab-two" role="tab"
                                aria-controls="pills-tab-two" aria-selected="false">
                                Listados</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link pills-tab-four" data-toggle="pill" href="#pills-tab-four" role="tab"
                                aria-controls="pills-tab-four" aria-selected="false">
                                Comentarios</a>
                        </li>


                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="pills-tab-one" role="tabpanel"
                            aria-labelledby="pills-tab-one">
                            <div class="single__detail-desc">
                                <h5 class="text-capitalize detail-heading">¡Hola! Mi nombre es {{ page.nombre }} </h5>
                                <div class="show__more">
                                    <p>Nacido en Ensenada, Baja California en el año 1985.
                                        Es el tercer hijo de padres médicos.
                                        Una persona amante del deporte y las actividades al aire libre, tales como:
                                        ciclismo de montaña, buceo, correr, etc.
                                    </p>

                                    <p>Comenzó su trayectoria en el mundo laboral desde chico, desempeñando tareas en
                                        pequeños negocios Ensenadenses y restaurantes de la ciudad, desempeñando como
                                        mesero y cocinero.
                                    </p>
                                    <p>Posteriormente cursó sus estudios universitarios en la UAG “Universidad Autónoma
                                        de Guadalajara”. En la Ciudad de Guadalajara, Jalisco.
                                    </p>
                                    <p>Habiendo laborado 4 años en cruceros de Royal Caribbean, en sus comienzos en el
                                        area de servicio al cliente para luego convertirse en Supervisor y finalizando
                                        su carrera en esa empresa con el título de oficial de Departura.
                                    </p>
                                    <p>Al decidir volver a Ensenada comienza la administración del negocio familiar.
                                        Y en el 2016 comienza a emprender la administración de bienes raíces y rentas
                                        por airbnb.
                                    </p>
                                    <a href="javascript:void(0)" class="show__more-button ">Leer Mas</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-tab-two" role="tabpanel" aria-labelledby="pills-tab-two">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% for renta in site.data.rentavacacional limit:5 %}
                                    <div class="card__image card__box-v1">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                <div class="card__image__header h-250">
                                                    <a href="{{renta.url}}">
                                                        <div class="ribbon text-capitalize">Renta</div>
                                                        <img src="{{renta.image}}" alt="{{renta.name}}"
                                                            class="img-fluid w100 img-transition">
                                                        <div class="info"> {{renta.name}} </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                <div class="card__image__body">

                                                    <span class="badge badge-primary text-capitalize mb-2">Renta
                                                        Vacacional</span>
                                                    <h6>
                                                        <a href="{{renta.url}}">{{renta.name}}</a>
                                                    </h6>
                                                    <div class="card__image__body-desc">
                                                        <p class="text-capitalize">
                                                            <i class="fa fa-map-marker"></i>
                                                            {{renta.location}}
                                                        </p>
                                                    </div>

                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">

                                                            <span>
                                                                baños <br>
                                                                <i class="fa fa-bath"></i> {{renta.baths}}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                camas <br>
                                                                <i class="fa fa-bed"></i> {{renta.beds}}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                recamaras <br>
                                                                <i class="fa fa-inbox"></i> {{renta.rooms}}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                invitados <br>
                                                                <i class="fa fa-users"></i> {{renta.guests}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                <div class="card__image__footer">
                                                    <figure>
                                                        <img src="/images/pacificsun/logo-airbnb.webp" alt="Logo Airbnb"
                                                            class="img-fluid rounded-circle">
                                                    </figure>
                                                    <ul class="list-inline my-auto">
                                                        <li class="list-inline-item name">
                                                            <a href="{{renta.url}}">
                                                                Reserva Aquí
                                                            </a>

                                                        </li>


                                                    </ul>
                                                    <ul class="list-inline my-auto ml-auto price">
                                                        <li class="list-inline-item ">

                                                            <h6>{{renta.price}}</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {% for casa in site.casasenrenta limit:5 %}
                                    <div class="card__image card__box-v1">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                <div class="card__image__header h-250">
                                                    <a href="{{casa.url}}">
                                                        <div class="ribbon text-uppercase">{{casa.operation}}</div>
                                                        <img src="{{casa.image}}" alt="{{casa.title}}"
                                                            class="img-fluid w100 img-transition">
                                                        <div class="info">{{casa.operation_sale_rent}}</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                <div class="card__image__body">

                                                    <span
                                                        class="badge badge-primary text-capitalize mb-2">{{casa.type}}</span>
                                                    <h6>
                                                        <a href="{{casa.url}}">{{casa.title}}</a>
                                                    </h6>
                                                    <div class="card__image__body-desc">
                                                        <p class="text-capitalize">
                                                            <i class="fa fa-map-marker"></i>
                                                            {{casa.location}}
                                                        </p>
                                                    </div>

                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">

                                                            <span>
                                                                Baños <br>
                                                                <i class="fa fa-bath"></i> {{casa.baths}}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                Habitaciones <br>
                                                                <i class="fa fa-room"></i> {{casa.rooms}}
                                                            </span>
                                                        </li>
                                                        <!--li class="list-inline-item">
                                                            <span>
                                                                recamaras <br>
                                                                <i class="fa fa-inbox"></i> 3
                                                            </span>
                                                        </li-->
                                                        <li class="list-inline-item">
                                                            <span>
                                                                area <br>
                                                                <i class="fa fa-map"></i> {{casa.area}} m²
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                <div class="card__image__footer">
                                                    <figure>
                                                        <img src="/images/pacificsun/200x200.webp"
                                                            alt="{{site.title}}"
                                                            class="img-fluid rounded-circle">
                                                    </figure>
                                                    <ul class="list-inline my-auto">
                                                        <li class="list-inline-item name">
                                                            <a href="{{casa.url}}">
                                                                Pacific Sun Real Estate
                                                            </a>

                                                        </li>


                                                    </ul>
                                                    <ul class="list-inline my-auto ml-auto price">
                                                        <li class="list-inline-item ">

                                                            <h6>{{casa.price}}</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {% for casa in site.casasenventa limit:5 %}
                                    <div class="card__image card__box-v1">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                <div class="card__image__header h-250">
                                                    <a href="{{casa.url}}">
                                                        <div class="ribbon text-uppercase">{{casa.operation}}</div>
                                                        <img src="{{casa.image}}" alt="{{casa.title}}"
                                                            class="img-fluid w100 img-transition">
                                                        <div class="info"> for sale</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                <div class="card__image__body">

                                                    <span
                                                        class="badge badge-primary text-capitalize mb-2">{{casa.type}}</span>
                                                    <h6>
                                                        <a href="{{casa.url}}">{{casa.title}}</a>
                                                    </h6>
                                                    <div class="card__image__body-desc">
                                                        <p class="text-capitalize">
                                                            <i class="fa fa-map-marker"></i>
                                                            {{casa.location}}
                                                        </p>
                                                    </div>

                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">

                                                            <span>
                                                                Baños <br>
                                                                <i class="fa fa-bath"></i> {{casa.baths}}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                Habitaciones <br>
                                                                <i class="fa fa-room"></i> {{casa.rooms}}
                                                            </span>
                                                        </li>
                                                        <!--li class="list-inline-item">
                                                            <span>
                                                                recamaras <br>
                                                                <i class="fa fa-inbox"></i> 3
                                                            </span>
                                                        </li-->
                                                        <li class="list-inline-item">
                                                            <span>
                                                                area <br>
                                                                <i class="fa fa-map"></i> {{casa.area}} m²
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                <div class="card__image__footer">
                                                    <figure>
                                                        <img src="/images/pacificsun/200x200.webp"
                                                            alt="{{site.title}}"
                                                            class="img-fluid rounded-circle">
                                                    </figure>
                                                    <ul class="list-inline my-auto">
                                                        <li class="list-inline-item name">
                                                            <a href="{{casa.url}}">
                                                                Pacific Sun Real Estate
                                                            </a>

                                                        </li>


                                                    </ul>
                                                    <ul class="list-inline my-auto ml-auto price">
                                                        <li class="list-inline-item ">

                                                            <h6>{{casa.price}}</h6>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="propiedades">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12" id="listado">
                                    
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="tab-pane fade" id="pills-tab-four" role="tabpanel" aria-labelledby="pills-tab-four">

                            <!-- RATE US  WRITE -->
                            <div id="disqus_thread"></div>
                            <script>
                                /**
                                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                                /*
                                var disqus_config = function () {
                                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };
                                */
                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://https-pacificsunrealestate-com-mx.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a
                                    href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            <!-- END RATE US  WRITE -->
                            <div class="clearfix"></div>
                        </div>


                    </div>
                    <!-- END FILTER VERTICAL -->
                </div>
                <!-- END LOCATION -->
            </div>
            <div class="col-lg-4">
                <div class="sticky-top">
                    <!-- FORM FILTER -->
                    <div class="products__filter mb-30">
                        <div class="products__filter__group">
                            <div class="products__filter__header">
                                <h5 class="text-center text-capitalize">Contacta a {{ page.nombre }}</h5>
                            </div>
                            <form id="contact-form" action="/forms/enviarcorreo.php" method="post"
                                class="php-email-form">
                                <div class="products__filter__body">
                                    <div class="form-group">
                                        <label>Nombre Completo</label>
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" name="tel">
                                    </div>

                                    <div class="form-group">
                                        <label>Tu mensaje</label>
                                        <textarea class="form-control" rows="3" name="message"></textarea>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <div class="loading" style="display: none;">Cargando</div>
                                    <div class="error-message" style="display: none;"></div>
                                    <div class="sent-message" style="display: none;">Gracias!. Tú mensaje ha sido
                                        enviado</div>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary text-capitalize btn-block"> Enviar
                                        <i class="fa fa-paper-plane ml-1"></i></button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- END FORM FILTER -->
                    <!-- ARCHIVE CATEGORY -->
                    <aside class=" wrapper__list__category">
                        <!-- CATEGORY -->
                        <div class="widget widget__archive">
                            <div class="widget__title">
                                <h5 class="text-dark mb-0 text-center">Categorias</h5>
                            </div>
                            <ul class="list-unstyled">
                                {% for category in site.categories %}
                                {% capture category_name %}{{ category | first }}{% endcapture %}
                                <li>
                                    <a href="/categorias.html" class="text-capitalize">
                                        {{ category_name }}
                                        <span class="badge badge-primary">{{site.categories[category_name] | size}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- END CATEGORY -->
                    </aside>
                    <!-- End ARCHIVE CATEGORY -->
                    <!--div class="download mb-0">
                        <h5 class="text-center text-capitalize">Property Attachments</h5>
                        <div class="download__item">
                            <a href="#" target="_blank"><i class="fa fa-file-pdf-o mr-3" aria-hidden="true"></i>Download
                                Document.Pdf</a>
                        </div>
                        <div class="download__item">
                            <a href="#" target="_blank"><i class="fa fa-file-word-o mr-3"
                                    aria-hidden="true"></i>Presentation
                                2016-17.Doc</a>
                        </div>
                    </div-->
                </div>
            </div>

        </div>
    </div>
</section>



<script>
    const propiedades = document.getElementById('propiedades');
    const contenedor = document.getElementById('listado');

    const url = 'https://pacificsunrealestate.com.mx/api.php';

    function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
        return parent.appendChild(el);
    }

    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();

        // Change this to div.childNodes to support multiple top-level nodes.
        return div.firstChild;
    }

    fetch(url)
        .then((resp) => resp.json())
        .then(function (data) {

            let htmlpropiedades = data.content.filter(p => p.operations[0].type == "sale").map(
                propiedad =>
                    ` <div class="card__image card__box-v1">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                <div class="card__image__header h-250">
                                                    <a href="/${'propiedad.html?id=' + propiedad.public_id}">
                                                        <div class="ribbon text-uppercase">Venta</div>
                                                        <img src="${propiedad.title_image_thumb}" alt="${propiedad.title}"
                                                            class="img-fluid w100 img-transition">
                                                        <div class="info"> For Sale</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                <div class="card__image__body">

                                                    <span
                                                        class="badge badge-primary text-capitalize mb-2">${propiedad.property_type}</span>
                                                    <h6>
                                                        <a href="/${'propiedad.html?id=' + propiedad.public_id}">${propiedad.title}</a>
                                                    </h6>
                                                    <div class="card__image__body-desc">
                                                        <p class="text-capitalize">
                                                            <i class="fa fa-map-marker"></i>
                                                            ${propiedad.location}
                                                        </p>
                                                    </div>

                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">

                                                            <span>
                                                                Baños <br>
                                                                <i class="fa fa-bath"></i> ${propiedad.bathrooms == null ? '' : propiedad.bathrooms}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                Habitaciones <br>
                                                                <i class="fa fa-room"></i> ${propiedad.bedrooms == null ? '' : propiedad.bedrooms}
                                                            </span>
                                                        </li>
                                                        <!--li class="list-inline-item">
                                                            <span>
                                                                recamaras <br>
                                                                <i class="fa fa-inbox"></i> 3
                                                            </span>
                                                        </li-->
                                                        <li class="list-inline-item">
                                                            <span>
                                                                area <br>
                                                                <i class="fa fa-map"></i> ${propiedad.bedrooms == null ? '' : propiedad.bedrooms} m²
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                <div class="card__image__footer">
                                                    <figure>
                                                        <img src="/images/pacificsun/200x200.webp"
                                                            alt="${propiedad.title}"
                                                            class="img-fluid rounded-circle">
                                                    </figure>
                                                    <ul class="list-inline my-auto">
                                                        <li class="list-inline-item name">
                                                            <a href="/${'propiedad.html?id=' + propiedad.public_id}">
                                                                Pacific Sun Real Estate
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-inline my-auto ml-auto price">
                                                        <li class="list-inline-item ">
                                                            <h6>${propiedad.operations[0].formatted_amount} ${propiedad.operations[0].currency}</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`).join('');
            propiedades.innerHTML = htmlpropiedades;

            let html = data.content.filter(p => p.operations[0].type == "rental").map(
                propiedad =>
                    ` <div class="card__image card__box-v1">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 col-lg-3 col-xl-4">
                                                <div class="card__image__header h-250">
                                                    <a href="/${'propiedad.html?id=' + propiedad.public_id}">
                                                        <div class="ribbon text-uppercase">Renta</div>
                                                        <img src="${propiedad.title_image_thumb}" alt="${propiedad.title}"
                                                            class="img-fluid w100 img-transition">
                                                        <div class="info"> For Rent</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                                <div class="card__image__body">

                                                    <span
                                                        class="badge badge-primary text-capitalize mb-2">${propiedad.property_type}</span>
                                                    <h6>
                                                        <a href="/${'propiedad.html?id=' + propiedad.public_id}">${propiedad.title}</a>
                                                    </h6>
                                                    <div class="card__image__body-desc">
                                                        <p class="text-capitalize">
                                                            <i class="fa fa-map-marker"></i>
                                                            ${propiedad.location}
                                                        </p>
                                                    </div>

                                                    <ul class="list-inline card__content">
                                                        <li class="list-inline-item">

                                                            <span>
                                                                Baños <br>
                                                                <i class="fa fa-bath"></i> ${propiedad.bathrooms == null ? '' : propiedad.bathrooms}
                                                            </span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <span>
                                                                Habitaciones <br>
                                                                <i class="fa fa-room"></i> ${propiedad.bedrooms == null ? '' : propiedad.bedrooms}
                                                            </span>
                                                        </li>
                                                        <!--li class="list-inline-item">
                                                            <span>
                                                                recamaras <br>
                                                                <i class="fa fa-inbox"></i> 3
                                                            </span>
                                                        </li-->
                                                        <li class="list-inline-item">
                                                            <span>
                                                                area <br>
                                                                <i class="fa fa-map"></i> ${propiedad.bedrooms == null ? '' : propiedad.bedrooms} m²
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                                <div class="card__image__footer">
                                                    <figure>
                                                        <img src="/images/pacificsun/200x200.webp"
                                                            alt="${propiedad.title}"
                                                            class="img-fluid rounded-circle">
                                                    </figure>
                                                    <ul class="list-inline my-auto">
                                                        <li class="list-inline-item name">
                                                            <a href="/${'propiedad.html?id=' + propiedad.public_id}">
                                                                Pacific Sun Real Estate
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-inline my-auto ml-auto price">
                                                        <li class="list-inline-item ">
                                                            <h6>${propiedad.operations[0].formatted_amount} ${propiedad.operations[0].currency}</h6>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`).join('');
            contenedor.innerHTML = html;


            $(".featured__property-carousel1").length && $(".featured__property-carousel1")
                .owlCarousel(
                    {
                        loop: !0,
                        margin: 30,
                        dots: !0,
                        nav: !1,
                        rtl: !1,
                        autoplayHoverPause: !1,
                        autoplay: !0,
                        singleItem: !0,
                        smartSpeed: 1200,
                        navText: ['<i class="fa fa-arrow-left"></i>', '<i class="fa fa-arrow-right"></i>'],
                        responsive: {
                            0: { items: 1, center: !1 },
                            480: { items: 1, center: !1 },
                            600: { items: 1, center: !1 },
                            768: { items: 2 },
                            992: { items: 2 },
                            1200: { items: 2 },
                            1366: { items: 3 },
                            1400: { items: 3 }
                        }
                    });

            $(".featured__property-carousel2").length && $(".featured__property-carousel2")
                .owlCarousel(
                    {
                        loop: !0,
                        margin: 30,
                        dots: !0,
                        nav: !1,
                        rtl: !1,
                        autoplayHoverPause: !1,
                        autoplay: !0,
                        singleItem: !0,
                        smartSpeed: 1200,
                        navText: ['<i class="fa fa-arrow-left"></i>', '<i class="fa fa-arrow-right"></i>'],
                        responsive: {
                            0: { items: 1, center: !1 },
                            480: { items: 1, center: !1 },
                            600: { items: 1, center: !1 },
                            768: { items: 2 },
                            992: { items: 2 },
                            1200: { items: 2 },
                            1366: { items: 3 },
                            1400: { items: 3 }
                        }
                    });

        })
        .catch(function (error) {
            console.log(error);
        });
</script>